{% extends "base.html" %}

{% block title %}Member Dashboard - Library Management{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mb-3">Welcome, {{ user.name }}!</h1>

    <div class="card shadow mb-3">
      <div class="card-body">
        <h2 class="card-title">Your Information</h2>
        <div class="info-item">
          <strong>Name:</strong> {{ user.name }}
        </div>
        <div class="info-item"><strong>Email:</strong> {{ user.email }}</div>
        <div class="info-item"><strong>Phone:</strong> {{ member.phone }}</div>
      </div>
    </div>

    <div class="card shadow mb-3">
      <div class="card-body">
        <h2 class="card-title">Borrowed Books</h2>
        {% if member.borrowed_books.all %}
        <ul class="book-list">
          {% for book_item in member.borrowed_books.all %}
          <li>
            <strong>{{ book_item.book.title }}</strong> - {{book_item.book.author }} <br />
            <small>Barcode: {{ book_item.barcode }}</small>
          </li>
        {% endfor %}
        </ul>
      {% else %}
      <p class="fst-italic text-secondary">You have no borrowed books.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}